@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald:wght@200&display=swap" rel="stylesheet");
/* --- Welcome Page Styles --- */
body {
  background-color:#F6F1F0;
  color: #808080;
  font-family:'Montserrat', sans-serif;
  line-height: 18px;
}

h1 {
  font-family: "Oswald", Sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: #F5F5F5;
  color: 808080;
  border-bottom: 3px solid #ccc;
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 36px;
}

p {
  margin-bottom: 18px;
}

.main {
  overflow: hidden;
}

.main-image {
  height: 800px;  
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.content {
  float: left;
  width: 60%; /* 480px / 800px */
}

.sidebar {
  background: #eee;
  border: 1px solid #ccc;
  float: right;
  padding: 2.08333333333%; /* 5px / 240px */
  width: 30%; /* 240px / 800px */
}

.sidebar ul {
  font-size: 14px;
}

.branding {
  clear: both;
}

.container {
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  border-top: 2px solid #ccc;
  padding: 0;
  color: 808080;
  font-family: 'Oswald', sans-serif;
}

body, html {
  height: 100%;
}

.container { 
  /* The image used */
  background-image: url("../images/Musicfreelance.jpg"); 

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: center;
  color: 808080;
  
} 

.login {
    /* The image used */
    background-image: url("../images/Freelancehomepage.jpg"); 

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

.signup {
  background-image: url("../images/Freelancehomepage.jpg");
  height: 100%;
  background-position: top; 
  background-repeat: no-repeat;
  background-size: cover;
}

.index {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  padding: 200px;
}

.index-content {
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: center;
  color: 808080;  
}

.create {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  padding: 200px;
}

.create-content {
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: center;
  color: 808080;
}

.show {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  padding: 200px;
}

.show-content {
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: center;
  color: 808080;
}

.edit {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  padding: 200px;

}

.edit-content {
  font-family: 'Oswald', sans-serif;
  position: relative;
  text-align: center;
  color: 808080;

}

<!DOCTYPE html>
<html>
<style>
input[type=text] {
  font-family: "Oswald", Sans-serif;
  font-size: 13px;
  font-weight: 400; 
  line-height: 1em;
  letter-spacing: 2px;
  background-color: #F5F5F5;
  color: black;
  border-radius: 0px 0px 0px 0px;
  padding: 14px 15px 16px 15px;
}

input[type=submit] {
  font-family: "Oswald", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 2px;
  background-color: #F5F5F5;
  color: black;
  border-radius: 0px 0px 0px 0px;
  padding: 14px 15px 16px 15px;
  cursor: pointer;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>