<% if flash[:success] %>
<h3 style="color:DarkOliveGreen;"><%= flash[:success] %></h3>

<% elsif flash[:error] %>
<h3 style="color:DarkRed;"><%= flash[:error] %></h3> 


<% elsif flash[:warning] %>
<h3 style="color:DarkRed;"><%= flash[:warning] %></h3> 


<% else flash[:alert] %>
<h3 style="color:DarkRed;"><%= flash[:alert] %></h3> 

<% end %>

<div class="login">
    <div class="login-centered">


<h1>Log In</h1>
<form method="POST" action="/login">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="password"> Password: </label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Log In">
</form>
</div>
</div>