<% if flash[:error] %>
<h3 style="color:DarkRed;"> <%= flash[:error]%></h3>
<% end %>

<div class="create">
    <div class="create-content">
        <h1>Create Gig </h1>
            <form method="POST" action="/gigs">
                <label for="employer"><h3>Employer:</h3></label>
                    <input type="text" name="employer" id="employer">   
                <label for="date"><h3>Date: </h3></label>
                    <input type="date" name="date" id="date">
                <label for="description"><h3>Description: </h3></label>
                    <textarea name="description" rows="10" cols="30" id="description"></textarea>
                <label for="payment"><h3>Payment: </h3></label>
                    $<input type="text" name="payment" id="payment">    
                <label for="expense"><h3>Expenses: </h3></label>
                    $<input type="text" name="expenses" id="expenses"><br><br>
                    <input type="submit" value="Create Gig">
            </form>
    </div>
</div>