<% if flash[:message] %>
<h3 style="color: DarkOliveGreen;"><%= flash[:message] %></h3>
<% end %>

 <div class="container">
  <%# <header><img src="../images/Freelancehomepage.jpg" class="img-responsive main-image"></header> %>

    <div class="centered">
      <header><h2>Welcome to Freelance Expense Tracker!</h2></header>
      <br>
    
      <form action="/signup">
        <label for="signup"><h3>First time user?</h3></label>
       
          <input type="submit" value="Sign Up">
      </form>

      <br>

      <form action="/login">
        <label for="login"><h3>Already a member?</h3></label>    
          <input type="submit" value="Log In">
      </form>

    
  </div>
</div>




